@import url('https://fonts.googleapis.com/css?family=Poppins:400,700');


/*Vendor */
@import "~bootstrap/scss/bootstrap.scss";

body {
  font-family: Poppins;
  background-color: #f5f5f5;
}

.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}

@import "./components/header.scss";
